<h2>Please click on the load button</h2>
<button {{on "click" this.loadDecrees}}>Load decrees</button>
{{#each this.decrees as |decree|}}
<article>
  <ul>
  <li>{{decree}}</li>
  </ul>
</article>
{{/each}}
